{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text">An inquisitive student, a keen learner and a problem solver, always willing to dive deep into a problem for novel solutions.
I look forward to challenging opportunities to redefine my potential and leave an impact. </p>
        <a href="https://kumarchitransh.me"
           class="btn btn-danger">My Portfolio</a>
    </div>
</div>
</div>

{% endblock sidebar %}